article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #C0C0C0;
    p,li{
        color: var(--md-typeset-color);
    }
}

:root  > * {
    --md-primary-fg-color:        #B01F1F;
    --md-primary-fg-color--light: #B01F1F;
    --md-primary-fg-color--dark:  #B01F1F;
  }
